@import "../../../styles/index.scss";

.container {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    font-size: 2em;
    padding: 1.5rem 3rem 0;
    font-weight: 700;
    color: $purplePrimary;
}
