@import "../../../styles/index.scss";

.container {
    height: 1em;
    width: 1em;
    border-radius: 100%;
    @extend %center;
    span {
        font-size: 0.6em;
        font-weight: normal;
    }
}

.purple {
    background-color: $purplePrimary;
    color: $redPrimary;
}

.red {
    background-color: $redPrimary;
    color: $purplePrimary;
}

.grey {
    background-color: $greyPrimary;
    color: $purplePrimary;
}
