@import "../../../styles/index.scss";

.container {
    display: grid;
    grid-template-columns: 50em max-content;
    column-gap: 2em;
}

.calendar {
    box-shadow: $shadow;
    padding: 2em 2em 1em;
}

.content {
    margin: 2em 0;
}

.status {
    @extend %center;
    margin-top: 1em;
}

.requests {
    margin-bottom: 1.5rem;
    border-top: 1px solid $greyTransparent;
}
