@import "../../../styles/index.scss";

.container {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    column-gap: 2em;
}

.form {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    height: max-content;

    div {
        margin: 0 3em 1em;
    }

    button {
        margin: 1em 8em;
    }

    button:last-of-type {
        margin-top: 6em;
    }
}

.imagesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 6em);
    grid-auto-rows: 6em;
    gap: 2em;
    justify-content: center;
    margin: 1em 0 2em;
}
