@import "../../../styles/index.scss";

.container {
    display: grid;
    grid-template-columns: max-content max-content;
}

.calendarContainer {
    display: grid;
    grid-template-columns: max-content 50em;

    box-shadow: $shadow;
    margin-right: 2em;
}

.calendarFilter {
    width: 8em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;

    button {
        margin-bottom: 1em;
    }

    button:first-child {
        margin-bottom: 4em;
    }
}

.calendar {
    grid-area: 1/2;
    overflow-y: auto;
    padding: 1em 2em 1em 0;
}
