@import "../../../styles/index.scss";

.container {
    @extend %buttonPreset;
    padding: 0;
    margin: 0 1em 0 0;
    font-weight: bold;
}

.grey {
    background-color: transparent;
    color: $greySecondary;
}

.purple {
    background-color: transparent;
    color: $purplePrimary;
}

.hover--grey {
    &:hover {
        color: $purplePrimary;
    }
}

.hover--purple {
    &:hover {
        color: $purpleSecondary;
    }
}
