%strip {
    outline: none;
    border: none;
}

%buttonPreset {
    @extend %strip;
    height: max-content;
    border-radius: 100px;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
    span {
        @extend %center;
    }
}

%center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%centerGrid {
    display: grid;
    justify-content: center;
    align-items: center;
}

%textOverflow {
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    width: 100%;
}
