@import "../../../../styles/index.scss";

.container {
    display: grid;
    grid-template-columns: 1fr max-content;

    font-size: 1.5em;
    padding: 1.5rem 3rem 1.5rem;
    font-weight: 600;
    color: $purplePrimary;
    svg {
        font-size: 1rem;
    }
}
