@import "../../../styles/index.scss";

.container {
    display: grid;
    grid-template-columns: max-content;
}

.months {
    display: grid;
    row-gap: 1em;
    justify-items: flex-start;
    margin: 0 3em;
}

.monthTitle {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    button:first-child {
        font-size: 1em;
    }
}

.accordionChildrenContainer {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    margin: -0.5em 0 0.5em;
    padding: 0.5em 1em;
    padding-right: 0;
    font-size: 0.9em;
}

.accordionChild {
    margin: 0.25em 0;
}
