.user {
    margin: 2em;
    font-size: 1.5em;
}

.form {
    margin: 3em;
    display: flex;
    flex-direction: column;
    height: max-content;
    div {
        width: 100%;
        margin-bottom: 2em;
    }
    button {
        display: grid;
        padding: 1.2em 3em;
    }
}
