@import "../../../styles/index.scss";

.manageContent {
    @extend %center;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    height: 100%;

    a {
        width: 70%;
        button {
            width: 100%;
            margin: 1em 0;
        }
    }
}

.buttonAdjust {
    width: 70%;
    button {
        width: 100%;
    }
}

.content {
    p {
        padding: 0 3em;
    }
}

.dialog {
    button {
        margin: 0 3em;
    }
}
